<template>
  <el-container style="height: 500px; border: 1px solid #eee">
  <el-aside width="250px" style="background-color: rgb(238, 241, 246)">
    <el-menu>
      <el-menu-item index="" @click="route='menu-1'">
        <i class="el-icon-menu"></i>
        <span>Navigator One</span>
      </el-menu-item>
      <el-menu-item index="2" @click="route='menu-2'">
        <i class="el-icon-menu"></i>
        <span>Navigator Two</span>
      </el-menu-item>
      <el-menu-item index="3" @click="route='menu-3'">
        <i class="el-icon-menu"></i>
        <span>Navigator Three</span>
      </el-menu-item>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>View</el-dropdown-item>
          <el-dropdown-item>Add</el-dropdown-item>
          <el-dropdown-item>Delete</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>{{route}}</span>
    </el-header>
    
    <el-main>
      <div v-if="route === 'menu-1'">
        <el-checkbox v-model="settings.allowToSkip">skip allowed</el-checkbox>
        <el-input-number v-model="settings.timer" controls-position="right"  :min="1" :max="100"></el-input-number>
      </div>
      <div v-if="route === 'menu-2'">
        {{route}}  
      </div>
      <div v-if="route === 'menu-3'">
        {{route}}  
      </div>
    </el-main>
  </el-container>
</el-container>
</template>

<script>
export default {
  name: 'landing-page',
  data () {
    return {
      route: 'menu-1',
      settings: {
        timer: 20,
        allowToSkip: false
      }
    }
  }
}
</script>

<style>
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }
  
  .el-aside {
    color: #333;
  }
</style>
